:host {
  width: 90%;
  float: right;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}

h1 {
  /*color: rgb(58, 75, 92); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin: 0;
  padding-top: 14rem;
}
h2,
h3 {
  /*color: rgb(58, 75, 92);*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
}

.title {
  padding-left: 7rem;
  margin-top: 0;
}

ul {
  padding: 0 0 0 1.5rem;
}

li {
  list-style-type: square;
}

.side p {
  font-style: italic;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
}

.bg-image {
  /* background: #161415 url("/assets/images/mixerboard.jpg") no-repeat top center; */
  /*background-color: lavenderblush; */
  background-size: cover;
  -webkit-background-size: cover;
  height: 100vh;
}

.color1 {
  background-color: #f0f5ff;
}

.color2 {
  background-color: #ffffb4;
}

.color3 {
  background-color: #fff0f5;
}

.color-wheel {
  height: 35px;
  width: auto;
  margin: 1rem;
  float: right;
}

.cube-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box-scene {
  width: 200px;
  height: 200px;
  margin: 20px 10px;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 0.5px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);
}

img {
  /*padding: 5px;*/
  width: 170px;
}

.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);

  position: relative;
}
.hvr-outline-out:before {
  content: "";
  position: absolute;
  border: #adadad solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:hover:before,
.hvr-outline-out:focus:before,
.hvr-outline-out:active:before {
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}

/*  CSS for mobile */

@media screen and (max-width: 769px) {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding-top: 1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .title {
    padding-left: 0.5rem;
  }

  .cube-container {
    flex-direction: column;
  }

  .bg-image {
    overflow-y: scroll;
    max-height: none;
  }

  .box-scene {
    margin: 0;
  }
}
