h1 {
  /*color: rgb(58, 75, 92); */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin: 0;
  padding-top: 14rem;
}
h2,
h3 {
  /*color: rgb(58, 75, 92);*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
}

.title {
  padding-left: 7rem;
  margin-top: 0;
}

ul {
  padding: 0 0 0 1.5rem;
}

li {
  list-style-type: square;
}

.side p {
  font-style: italic;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: black;
}

.bg-image {
 /* background: #161415 url("/assets/images/mixerboard.jpg") no-repeat top center; */
 /*background-color: lavenderblush; */
  background-size: cover;
  -webkit-background-size: cover;
  height: 100vh;
}

.color1 {
  background-color : #f0f5ff;

}

.color2 {
  background-color : #ffffb4;
}


.color3 {
  background-color :#fff0f5;

}

.color-wheel {
  height: 45px;
    width: auto;
    margin: 15px;
    float: right;
}

.cube-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box-scene {
  -webkit-perspective: 700;
  width: 200px;
  height: 200px;
  z-index: 999;
  margin: 20px 10px;
}
.box-scene:hover .box {
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.box {
  width: 180px;
  height: 180px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.4s ease-out;
  transform-origin: 90px 90px -90px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.4s ease-out;
  -webkit-transform-origin: 90px 90px -90px;

  /* float: left; */
  margin: 30px auto;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 0.5px;
  -webkit-backface-visibility: visible;
  -webkit-transform-origin: 0 0;
  backface-visibility: visible;
  transform-origin: 0 0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 1);
}
.front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
  background: #d9d9d9;
}
.side {
  background: #f8b82e;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  z-index: 1;
  left: 180px;
}

img {
  /*padding: 5px;*/
  width: 170px;
}

/*  CSS for mobile */

@media screen and (max-width: 769px) {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding-top: 1rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  .title {
    padding-left: 0.5rem;
  }

  .cube-container {
    flex-direction: column;
  }

  .bg-image {
    overflow-y: scroll;
    max-height: none;
  }

  .box-scene {
    margin: 0;
  }
}
