<div
  class="bg-image"
  [ngClass]="{
    color1: bgColor == 'color1',
    color2: bgColor == 'color2',
    color3: bgColor == 'color3'
  }"
>
  <img
    src="/assets/images/color-wheel.png"
    class="color-wheel"
    (click)="cycleColor()"
  />
  <h1 class="title">{{ title }}</h1>
  <h2 class="title">{{ subtitle }}</h2>

  <div class="cube-container">
    <div
      class="box-scene"
      *ngFor="let structure of structures; index as structureId"
    >
      <a [title]="structure.name" [routerLink]="['/structures', structureId]">
        <div class="hvr-outline-out face">
          <h2>{{ structure.name }}</h2>
          <img src="{{ structure.imagePath }}" />
        </div>
      </a>
    </div>
  </div>
</div>
