<div *ngIf="structure">
  <div *ngIf="structure.intro0; else elseBlock">
    <div class="nav-bar">
      <h3>
        <a title="Homepage" routerLink="/"> {{ structure.name }}</a>
      </h3>
      <ul>
        <li [ngxScrollTo]="'#section1'">Introduction</li>
        <li [ngxScrollTo]="'#section2'">Implementation</li>
        <li [ngxScrollTo]="'#section3'">Searching</li>
      </ul>
    </div>
    <div class="details-container">
      <h5 id="section1">Introduction</h5>
      <p>{{ structure.intro0 }}</p>
      <p>{{ structure.intro1 }}</p>

      <h5 id="section2">Implementation</h5>
      <p>{{ structure.body0 }}</p>
      <pre>{{ structure.snippet0 }}</pre>

      <h5 id="section3">Searching</h5>
      <p>{{ structure.body1 }}</p>
      <pre>{{ structure.snippet1 }}</pre>
    </div>
  </div>

  <ng-template #elseBlock>
    <div class="nav-bar">
      <h3>
        <a title="Homepage" routerLink="/"> {{ structure.name }} </a>
      </h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="details-container" style="text-align: center;">
      <h4>Coming soon</h4>
      <p>Return to the <a title="homepage" routerLink="">homepage</a></p>
      <p>
        See
        <a title="linked lists" routerLink="../0">linked lists</a>,
        <a title="linked lists" routerLink="../1">queues</a> or
        <a title="linked lists" routerLink="../2">stacks</a>
      </p>
    </div>
  </ng-template>
</div>
