<div *ngIf="structure">
  <div *ngIf="structure.intro0; else elseBlock">
    <h3>
      <a title="Homepage" routerLink="/"> {{ structure.name }}</a>
    </h3>
    <div class="details-container">
      <h5 id="section1">Introduction</h5>
      <p>{{ structure.intro0 }}</p>
      <p>{{ structure.intro1 }}</p>

      <h5 id="section2">Implementation</h5>
      <p>{{ structure.body0 }}</p>
      <pre>{{ structure.snippet0 }}</pre>

      <h5>Searching</h5>
      <p>{{ structure.body1 }}</p>
      <pre>{{ structure.snippet1 }}</pre>
    </div>
  </div>

  <ng-template #elseBlock>
    <h3>
      <a title="Homepage" routerLink="/"> {{ structure.name }} </a>
    </h3>
    <div class="details-container" style="text-align: center;">
      <h4>Coming soon</h4>
      <p>
        Return to the <a title="landing page" routerLink="">landing page</a>
      </p>
      <p>
        See
        <a title="linked lists" routerLink="../0">linked lists</a>
      </p>
    </div>
  </ng-template>
</div>
